.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 1700px;
    margin: 0 auto;
/*    background-color: #9b9393;*/
}

/*~~~~ HEADER ~~~~*/

header {
    margin-bottom: 30px;
}
.nav-wrapper {
    width: 1500px; /*Спорно.  */
    position: absolute;
    z-index: 2;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 40px;

}
.nav-wrapper .logo {
    float: left;
}
.nav-wrapper nav {
    float: right;
}

.nav-wrapper a {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.35em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 75px;
    margin-top: 40px;
}
.nav-wrapper .attention {
    color: #f84545
}
.abbreviation {
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 387px;
    left: 50%;
    transform: translateX(-50%)
    
}
.abbreviation h1 {
    font-size: 60px;
    line-height: 70px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.6em;
}
.abbreviation a {
    color: #f84545;
    font-size: 30px;
    line-height: 75px;
    font-weight: 700;
    letter-spacing: 0.6em;
    text-decoration: none;
}
header .slider {
    position: relative;
/*    top: -130px;*/
/*    z-index: 1;*/
    background-color: #7f7f7d;
}

/*~~~~ BODY TILES ~~~~*/
.body-tiles {
    width: 1500px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 40px;
}
.body-tiles .brands {
    margin-bottom: 53px;
    position: relative;
    
}
.body-tiles .brand-info {
    position: absolute;
    z-index: 1;
    bottom: 40px;
    left: 40px;
}
.body-tiles h2 {
    margin: 0;
    margin-top: 35px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #fff;
}
.brand-1 h2 {
    font-size: 60px;
    bottom: 60px;
    left: 60px;
    margin-top: 40px;
}
.brand-1 .brand-info {
    bottom: 60px;
    left: 60px;
}
.brands {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.brands>img {
    transition: 0.3s;
}
.brands:hover>img {
    transform: scale(1.1);
}
.body-tiles .brand-1 {
    float: left;
}
.body-tiles .brand-2 {
    float: right;
}
.body-tiles .brand-3 {
    float: right;
}
.body-tiles .brand-4 {
    float: left;
    margin-right: 57px;
}
.body-tiles .brand-5 {
    float: left;
    margin-right: 57px;
}
.body-tiles .brand-6 {
    float: left;
}

/*~~~~ INSTAGRAM ~~~~*/

.instagram {
    position: relative;
    width: 1700px;
    font-size: 0;
}
.insta-foto {
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.insta-foto {
    display: inline-block;
/*    cursor: pointer;*/

    background-color: #1a1a1a;
}
/*
.insta-foto>img {
    transform: scale(1);
    transition: 0.2s;
    opacity: 0.5;
}
.insta-foto:hover>img {
    transform: scale(1.1);
    opacity: 1;
    transition: 0.3s;
}
*/
.inst-hashtag {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 285px;
/*    right: 50%;*/
/*    transform: translateX(50%)*/
}
.inst-hashtag h3 {
    font-size: 60px;
    line-height: 70px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.6em;
}
.inst-hashtag a {
    font-size: 30px;
    line-height: 75px;
    color: #f84545;
    font-weight: 700;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    text-decoration: none;
}

/*~~~~ FOOTER ~~~~*/
footer {
    width: 1500px;
    margin-right: 100px;
    margin-left: 100px;
}
.footer-nav {
    display: inline-block;
    width: 71%;
}
.footer-nav a {
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.35em;
    color: #1a1a1a;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.footer-nav a:last-of-type {
    margin-right: 0;
}
.footer-nav a:hover {
    text-decoration: underline;
}

.social {
    width: 28%;
    display: inline-block;
    text-align: right;
    
}
.social-btn {
    margin-left: 40px;
}

